.formMessage {
    width: 100%;
    height: auto;
}
.textPost{
    width: 500px;
    height: 75px;  
    border: 2px solid #FFD7D7;
    border-radius: 20px;
    padding: 20px;
    font-size: 1.1rem;
    font-family: "font-2", serif;
    padding-top:28px;
    }

@media screen and(max-width: 590px) {
    .textPost{
     margin-top: 40px;
     width: 98%;
    }        
  }